.dropdown-container {
	max-width: 300px;
	border: 0;
	border-radius: 14px;
	overflow: hidden;
	cursor: pointer;
}

.dropdown-container--opened {
	box-shadow: 0px 0px 15px 3px #171717;
}

.dropdown-list {
	display: block;
	width: 300px;
}

.dropdown-display {
	overflow: hidden;
}

.dropdown-display span {
	float: left;
	padding: 10px;
}

.dropdown-display i {
	float: right;
	font-size: 17px;
	line-height: 33px;
	margin-right: 12px;
}

.dropdown-container--opened .dropdown-display {
	background: #151515;
}

.dropdown-list .dropdown-list__item {
	display: block;
	padding: 5px 10px;
}

.dropdown-list .dropdown-list__item:hover {
	background: #1b1b1b;
}
